.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorBlack);
    padding: 0rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}
.navBar__left{
flex: 1;
}
.navBar__middle{
flex: 1;
 display: flex;
 justify-content: center;
}
.navBar__right{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navBar__logo{
    width: 150px;
}
.navBar__Link{
    font-size: 13px;
    color: #fff;
    padding: 0 1rem;
    line-height: 1.6em;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.navBar__Link:not(.noborder)::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    height: 15px;
    width: 0;
    z-index:-1;
    
    background-color: var(--colorPrimary);
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navBar__Link:not(.noborder):hover::after{
    width: 90%;
}


.sidemenu{
    display: none;
}


@media all and (max-width :920px){
    .sidemenu{
        display: inline;
    }
    .navBar__Link:not(.noHide){
        display: none;
    }

}
