:root{
   --colorPrimary:rgb(248, 38, 38);
   --colorBlack:black;
   --colorGrey:#5c5c5c;
}
.App {
  font-family: "Century Gothic",sans-serif;

}
body{
  font-family: "Century Gothic",sans-serif;
}

.container{
  margin: 0 5rem;
}





