*{
  margin:0 ;
  padding:0;
  box-sizing: border-box;
}
:root{
   --colorPrimary:rgb(248, 38, 38);
   --colorError:rgb(233, 24, 24);
   --colorBlack:black;
   --colorGrey:#5c5c5c;
   --colorGreyDark:#333333;
   --colorGreyLight:#7c7676;
   --colorGreyFaint:#e0e0e0;
   --colorGreyFainter:#ebebeb;
   --colorShadow:#4646462c;
   --colorShadowDarker:#2b2b2b2c;
}
.App {
  font-family: "Century Gothic",sans-serif;
}
body{
  font-family: "Century Gothic",sans-serif;
   overflow-x: hidden;

}

.container{
  margin: 0 5rem;
}

.flexHorizontalCenter{
  display: flex;
  width: 100%;
  justify-content: center;
}

.textCenter{
  text-align: center;
}
a{
  text-decoration: none;
}

input{
  padding: .75rem 2rem ;
  margin-bottom: 1rem ;
  border: 1px solid #fff;
  background: transparent;
}

.textCenter{
  text-align: center;
}


p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-size: 14px;
  font-size: inherit;
  font-weight: inherit;
}

.h-centered{
  text-align: center;
  font-size: 22px;
}
.h-medium{
 color: var(--colorGreyDark);
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 font-size: 1.1rem;
 line-height: 1.3em;
}



.w100{
  width: 100%;
}
.border{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;
  background-color:rgb(204, 204, 204)  ;
}
.border-faint{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;
  background-color:var(--colorGreyFaint) ;
}
.mgb1{
  margin-bottom: 1rem;
}
.mgb2{
  margin-bottom: 2rem;
}
.mgb3{
  margin-bottom: 3rem;
}
.mgb5{
  margin-bottom: 5rem;
}
.mgt2{
  margin-top: 2rem;
}
.mgt6{
  margin-top: 6rem;
}
button:focus{
   outline: none;
}

.social{
  display: flex;
  justify-content: space-between;
}
.social i{
  color: #fff;
}

.error{
  color: var(--colorError);
}

.offsetNavbar{
  margin-bottom: 75px;
}


.smallTextG{
  color: var(--colorGreyLight);
  font-size: .8rem;
}
.smallTextB{
  color: var(--colorGreyDark);
  font-size: .8rem;
}

/* overdingsome  material ui  */
.MuiFormControl-root {
  margin-bottom: 1rem !important;
}
.MuiInputBase-input{
  font-size: .8rem !important;
  padding: 1rem  .5rem !important;

}
.MuiInputLabel-root{
  font-size: .9rem !important;
}
.MuiCheckbox-colorSecondary.Mui-checked{
  color: var(--colorGrey) !important;
}
.btnGrey{
  background-color: var(--colorGrey) !important;
  color: #fff !important;
  padding: 1rem  1rem !important;
  font-weight: 600!important;
  font-size: .8rem !important;
   text-transform: none !important;
}
.MuiTypography-body1 {
 color: var(--colorGrey) !important;
}
.MuiFormLabel-root.Mui-focused {
  color: var(--colorGreyDark) !important  ;
}
.MuiIconButton-label {
  color: var(--colorGrey) !important;
}

.checkoutCard{
  padding: 1rem !important;
}
.f1{
  flex: 1;
}
.mgr1{
  margin-right: 1rem !important;
}