*{
  margin:0 ;
  padding:0;
  box-sizing: border-box;
}
:root{
   --colorPrimary:rgb(248, 38, 38);
   --colorError:rgb(233, 24, 24);
   --colorBlack:black;
   --colorGrey:#5c5c5c;
   --colorGreyLight:#7c7676;
   --colorGreyFaint:#e0e0e0;
   --colorGreyFainter:#ebebeb;
   --colorShadow:#4646462c;
   --colorShadowDarker:#2b2b2b2c;
}
.App {
  font-family: "Century Gothic",sans-serif;
}
body{
  font-family: "Century Gothic",sans-serif;
   overflow-x: hidden;

}

.container{
  margin: 0 5rem;
}

.flexHorizontalCenter{
  display: flex;
  width: 100%;
  justify-content: center;
}

.textCenter{
  text-align: center;
}
a{
  text-decoration: none;
}

input{
  padding: .75rem 2rem ;
  margin-bottom: 1rem ;
  border: 1px solid #fff;
  background: transparent;
}

.textCenter{
  text-align: center;
}


p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-size: 14px;
  font-size: inherit;
  font-weight: inherit;
}

.h-centered{
  margin-bottom: 3rem;
  text-align: center;
  font-size: 22px;
}
.border{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;
  background-color:rgb(204, 204, 204)  ;
}
.mgb2{
  margin-bottom: 2rem;
}
.mgt2{
  margin-top: 2rem;
}
.mgt6{
  margin-top: 6rem;
}
button:focus{
   outline: none;
}

.social{
  display: flex;
  justify-content: space-between;
}
.social i{
  color: #fff;
}

.error{
  color: var(--colorError);
}

.offsetNavbar{
  margin-bottom: 75px;
}

