.cart{
    right: -400px;
    flex-direction: column;
}
.cart__top{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid var(--colorGreyFaint);
}
.cart__body {
    height: calc(100vh - 75px);
    width: 100%;
    position: relative;
}
.cartItem{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartItem__image{
   width: 100px;
   margin-right: 1rem;
}
.cartItem__image img{
   width: 100%;
}
.cartItem__action{
    margin-top: 1rem;
   display: flex;
   align-items: center;
}
.cartItem__action .quantity{
    height:40px;
    width: 98px;
    margin-right: 2rem;
}
.cartItem__info{
    font-size: .8rem;
   flex: 2;
} 
.cart__empty{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart__count{
    color: var(--colorPrimary);
    padding: .25rem;
    position: relative;
}
.cart__bottom{
 position: absolute;
 bottom: 0;
 left: 0;
 border-top: 1px solid var(--colorGreyFaint);
 width: 100%;
 height:fit-content;
 padding: 1rem;
}
.cart__bottom .btn{
 text-align: center;
}
.cart__bottom div{
    display: flex;
    flex-direction: column;
}
