.SideContainer{
    width: 400px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 0px 6px 5px var(--colorShadow);
    transition: all .5s ease-in;
    z-index: 999;
    top: 0;
    display: flex;
  
}
.pageShdowCover{
    display: none;
    width:100%;
    height: 100vh;
    background-color: var(--colorShadowDarker);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;
    transition: all .4s ease-in;
}
.Close{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--colorGrey);
}


.sideBar{
    left: -400px;
    flex-direction: column; 
} 
.sideBar .Close{
    margin: 2rem 0;
} 
.sideBar__body{
    height: calc(100vh - 48px);
    padding:0 2rem;

}

.sideBar__links{
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.sideBar__Link:not(.noBorder){
    border-bottom: 1px solid var(--colorGreyFaint);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 13px;
    cursor: pointer;
    color: var(--colorGrey);
}

.noBorder{

}
.sideBar__bottom{
    height: 48px;
    padding: 0 2rem;
    border-top: 1px solid var(--colorGreyFaint);
    display: flex;
    align-items: center;
}
.sideBar__bottom .social{
   width: 100%;
}
.sideBar__bottom .social i{
   color: var(--colorGreyLight);
}





.cart{
    right: -400px;
    flex-direction: column;
}
.cart__top{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid var(--colorGreyFaint);
}
.cart__body {
    height: calc(100vh - 75px);
}
