.card{
    width: 300px;
    height: 400px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.card:hover .card__image2{
    opacity: 1;
}
.card__image{
    height:100%;
    width: 100%;
    position: relative;
}
.card__image2 ,.card__image2{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.card__image2{
    opacity: 0;
}
.card__image img{
    width: 100%;
}


.card__info{
    position: relative;
    text-align: center;
    z-index: 9;
}
.card__title,.card__price{
   color: var(--colorBlack);
}
.card__price{
    
}

.card-medium{
   height: 470px; 
   width: 260px;
}
.card-small{
   height: 400px; 
   width: 200px;
}
.card-medium .card__image{
   height:350px; 
}
.card-small .card__image{
   height: 300px; 
}
