.cart{
    width: 400px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 99;
    top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 10px var(--colorShadow);
}
.pageShdowCover{
    width:100%;
    height: 100vh;
    background-color: var(--colorShadow);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;
}

.cart__top{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid var(--colorGreyFaint);
}
.cart__top i{
    font-size: 1.5rem;
    cursor: pointer;
}
.cart__body{
     height: calc(100vh - 75px);
}